@model aksesuarcim.Dto.CartViewModel
<li class="nav-item cta cta-colored">
    <a href="/Cart/Index" class="nav-link">
        <span class="icon-shopping_cart">@Model.GrandTotal</span>Sepet</a></li>

